.modal {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
}

.modal .fullScreen {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.fullScreen .container {
    background-color: #faf2f2;
    position: relative;
    border-radius: 8px;
}